@import '../../../variables'

.incompleteObjective
    background-color: $yellow
.completeObjective
    background-color: $green
.failedObjective
    background-color: $pink
.objectiveTile
    text-align: center
    padding: 2.5em 2em 1em
    position: relative
    box-shadow: .2em .2em .2em lightgrey
    .objectiveIcon
        height: 2.25em
        width: 2.25em
    .objectiveHeader
        text-transform: capitalize
        font-family: serif-header-font
        font-weight: bold
    .primaryObjective
        font-family: serif-header-font
        font-weight: bold
    .secondaryObjective
        font-family: serif-header-font
        font-weight: bold
    .objectiveDescription
        font-family: sans-paragraph-font
    .awardEarned
        .award
            font-family: serif-header-font
            font-weight: bold
            
