div.momentCard
    h3.momentTitle {{moment.title}}
    img.momentPhotograph([src]="moment.photo | assetsEventImg")
    p.momentDescription {{moment.description}}
    label.momentLocation {{moment.location}}
    
