@font-face
  font-family: 'serif-header-font'
  src: url('/assets/fonts/Abril_Fatface.ttf')

@font-face
  font-family: 'sans-paragraph-font'
  src: url('/assets/fonts/Raleway/Raleway-Black.ttf')
  font-weight: bolder
  font-style: normal
@font-face
  font-family: 'sans-paragraph-font'
  src: url('/assets/fonts/Raleway/Raleway-BlackItalic.ttf')
  font-weight: bolder
  font-style: italic
@font-face
  font-family: 'sans-paragraph-font'
  src: url('/assets/fonts/Raleway/Raleway-Bold.ttf')
  font-weight: bold
  font-style: normal
@font-face
  font-family: 'sans-paragraph-font'
  src: url('/assets/fonts/Raleway/Raleway-BoldItalic.ttf')
  font-weight: bold
  font-style: italic
@font-face
  font-family: 'sans-paragraph-font'
  src: url('/assets/fonts/Raleway/Raleway-Light.ttf')
  font-weight: lighter
  font-style: normal
@font-face
  font-family: 'sans-paragraph-font'
  src: url('/assets/fonts/Raleway/Raleway-Regular.ttf')
  font-weight: normal
  font-style: normal
@font-face
  font-family: 'sans-paragraph-font'
  src: url('/assets/fonts/Raleway/Raleway-LightItalic.ttf')
  font-weight: lighter
  font-style: italic

@font-face
  font-family: 'sans-header-font'
  src: url('/assets/fonts/Open_Sans/OpenSans-Bold.ttf')
  font-weight: bold
  font-style: normal
@font-face
  font-family: 'serif-header-font'
  src: url('/assets/fonts/Open_Sans/OpenSans-BoldItalic.ttf')
  font-weight: bold
  font-style: italic
@font-face
  font-family: 'serif-header-font'
  src: url('/assets/fonts/Open_Sans/OpenSans-Italic.ttf')
  font-weight: normal
  font-style: italic
@font-face
  font-family: 'serif-header-font'
  src: url('/assets/fonts/Open_Sans/OpenSans-Light.ttf')
  font-weight: lighter
  font-style: normal
@font-face
  font-family: 'serif-header-font'
  src: url('/assets/fonts/Open_Sans/OpenSans-LightItalic.ttf')
  font-weight: lighter
  font-style: italic
@font-face
  font-family: 'serif-header-font'
  src: url('/assets/fonts/Open_Sans/OpenSans-Regular.ttf')
  font-weight: normal
  font-style: normal


@font-face
  font-family: 'serif-paragraph-font'
  src: url('/assets/fonts/Solway/Solway-Regular.ttf')
  font-weight: normal
@font-face
  font-family: 'serif-paragraph-font'
  src: url('/assets/fonts/Solway/Solway-Bold.ttf')
  font-weight: bold
@font-face
  font-family: 'serif-paragraph-font'
  src: url('/assets/fonts/Solway/Solway-ExtraBold.ttf')
  font-weight: bolder
@font-face
  font-family: 'serif-paragraph-font'
  src: url('/assets/fonts/Solway/Solway-Light.ttf')
  font-weight: lighter
@font-face
  font-family: 'serif-paragraph-font'
  src: url('/assets/fonts/Solway/Soleway-Medium.ttf')
  font-weight: medium
