@import '../../variables'

#questLogContainer
    display:flex
    flex-direction: column
    .questLogHeader
        text-align: center
        font-family: serif-header-font
    .quest
        font-family: serif-paragraph-font
        display: flex
        justify-content: center
        .questTile
            width: 30em
            padding: 1em 1em
            border: 1em solid
            border-radius: .4em
            .questTitle
                font-size: 2.5em
                font-family: sans-header-font
                text-align: center
                text-transform: uppercase
            .introText
                text-align: center
                margin: 1em 0 0 0
            .prologueText
                text-indent: 2em
                margin: .5em 0 .5em 0
            .questText
                text-indent: 2em
                font-style: italic
            .cards
                display: flex
                flex-direction: column
                .timeStamp
                    font-size: 1.5em
                    margin: 1em 0
                    font-family: sans-paragraph-font
                    font-weight: bold
                    font-style: italic
                    border-bottom: 1px solid lightgrey
                    padding-bottom: .1em
                .card
