@import '../../variables'

#questLogContainer
    display:flex
    flex-direction: column

    .quest
        font-family: basic-font
        text-align: center
        display: flex
        justify-content: center

        .questTile
            width: 25em
            padding: 2em 1em
            border: 1em solid

            .questTitle
                font-family: header-font
                font-size: 2.5em
            .questSummary
                padding: 1em 0em
                text-align: left
            .cards
                display: flex
                flex-direction: column
                .card
                    .eventCard
                    .momentCard
                    .objectiveCard
