div.eventTile 
    div.eventTileInner
        div.eventTileFront
            h1.eventTitle {{event.title}}
            img.eventIconImage([src]="event.flavorImage | assetsEventImg")
            span.eventLocation {{event.location}}
        div.eventTileBack
            span.eventTitleFlipped {{event.title}}
            div.eventDescription {{event.description}}
            
